<body bgcolor="#B4EAE7">
  <center>
    <br/><br/>
    <img src="/images/old_computer.gif"/>
    <br/><br/>
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=QjwwvrOoq4VvrYQF1NBJtdvOAdJoo00b1oR7Lu7qexFstalSbEcXMgrVsAaJ"></script></span>
  </center>
</body>
